/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "libs/mixins.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fafaff;
}
ol,
ul {
  list-style: none;
}
a {
  color: black;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation {
  @include row;
  gap: 110px;
  justify-content: space-between;
}

.menu {
  font-size: 16px;
  @include telex;
}

.menu:hover {
  color: #7164bf;
}

.header {
  @include row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 67px 200px 80px;
}

.talk {
  @include yantramanav;
  font-weight: 900;
  border-bottom: solid black 3px;
  font-size: 32px;
}

.talke {
  @include yantramanav;
  font-weight: 900;
  border-bottom: solid black 2px;
  font-size: 18px;
}

@media only screen and (max-width: 820px) {
  .navigation {
    gap: 50px;
  }
}

.text-content {
  margin-left: 70px;
}

.hero {
  @include row;
  justify-content: space-between;
}

.h1 {
  @include yantramanav;
  font-size: 90px;
  margin-bottom: 30px;
}

.text {
  @include telex;
  color: #9f9f9f;
  margin: 48px 0 120px 0;
  font-size: 28px;
}

.talk-button {
  @include row;
  border: solid 1px black;
  border-radius: 37px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 28px 24.5px 39px;
  display: inline-flex;
  gap: 30px;
  margin-left: 70px;
  background-color: #fafaff;
}

.footer {
  @include row;
  margin: 120px 0 82px 0;
}

.line {
  width: 90%;
  background-color: #b7b2b3;
  height: 5px;
  border-radius: 20px;
  margin-top: 15px;
}

.icon {
  gap: 23px;
  @include row;
  margin: 0 52px 0 18px;
}
